@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  background: #001f3f;
  font-family: "Poppins", sans-serif;
}

.mainText {
  color: aliceblue;
  text-align: left;
  margin-left: 200px;
  margin-top: 150px;
}

.greenText {
  color: #2ecc71;
  text-decoration: underline;
  text-underline-offset: 12px;
}

.container {
  padding-left: 200px;
  padding-top: 30px;
}

.inputWrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.inputWrapper {
  display: flex;
  align-items: center;
  gap: 12px;
  background: white;
  border-radius: 10px;
  padding: 5px 10px;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  width: fit-content;
}

.copyIcon {
  width: 24px;
  height: 24px;
  cursor: pointer;
  flex-shrink: 0; /* Prevents it from shrinking */
}

.inputBox {
  border: none;
  outline: none;
  font-size: 18px;
  width: 400px;
  height: 45px;
  font-family: "Poppins", sans-serif;
}

.generatePasswordBox {
    padding-top: 30px;
    padding-left: 200px;
}

.generateButton {
    height: 50px;
    width: 150px;
    background-color: #2ecc71;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    text-align: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
